* {
  font-family: 'Oswald';
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.landing>h2{
  color: #3B7EB5;
  font-weight: 700;
  font-size: 45px;
}

#add-user {
  color: white;
  background: #3B7EB5;
  border: none;
  border-radius: 6%;
}

.landing-pg > h1{
  margin-top: 50px;
  color: red;
  margin-bottom: 30px;
}

span {
  margin: 10px;
}

#admin-questions,
#admin-users {
  margin-left: 10%;
  margin-right: 10%;
}

.App-intro {
  font-size: large;
}

.adminSection {
    margin: 0 auto;
}

.topic {
  border: 1px solid black;
  margin: 20px;
}
 
.logout {
  margin-left: 1000px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

label{
  padding:10px;
  margin:20px;
}